<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Generate Short URL</title>
</head>
<body>
    <main layout:fragment="content">
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Generate a short URL</h1>
                            <p class="lead text-white-50 mb-4">Provide a long URL and get a short, minimalistic URL in return</p>
                            <form th:action="@{/createURL}" role="form" method="post" th:object="${shortURL}">
                                <label for="longURL"></label>
                                <input type="text" class="form-control" placeholder="Long URL goes here" id="longURL" name="longURL" required/>
                                <button class="btn btn-primary mt-4" type="submit">Generate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>
</body>
</html>