<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>URL Shortening Service</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Header-->
<main layout:fragment="content">
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Shorten Long URLs to maintain Aesthetics and Minimalism</h1>
                        <p class="lead text-white-50 mb-4">Let us handle the boring stuff while you only deal with short, minimalistic URLs</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-plus"></i></div>
                    <h2 class="h4 fw-bolder">Generate a short URL</h2>
                    <p>Give us a URL, however long, and get a shorter, more manageable, minimalistic URL in return.</p>
                    <a class="text-decoration-none" href="#!">
                        Generate
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Retrieve a long URL</h2>
                    <p>Forgotten which URL leads where? Show it to us and we'll tell you.</p>
                    <a class="text-decoration-none" href="#!">
                        Retrieve
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-arrow-clockwise"></i></div>
                    <h2 class="h4 fw-bolder">Update a short URL</h2>
                    <p>Navigate here if you ever want to change anything about your URL.</p>
                    <a class="text-decoration-none" href="#!">
                        Update
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-x"></i></div>
                    <h2 class="h4 fw-bolder">Delete a short URL</h2>
                    <p>Wanna forget this ever happened? Erasing a URL is as easy as this.</p>
                    <a class="text-decoration-none" href="#!">
                        Delete
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bar-chart"></i></div>
                    <h2 class="h4 fw-bolder">Get URL Stats</h2>
                    <p>We're always watching - Navigate here to know what we know about your URLs.</p>
                    <a class="text-decoration-none" href="#!">
                        Get Stats
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
